*{
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

.App{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1{
  width: 80%;
  margin-bottom: 20px;
}

.formContainer{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  flex-direction: column;
  padding: 15px;
}


.inside{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.label{
  width: 100%;
}

input{
  height: 25px;
  width: 100%;
  border: none;
  background-color: antiquewhite;
  border: 0.5px solid rgba(30, 9, 9, 0.148);
}

.btn{
  height: 25px;
  border: none;
  width: 100%;
  border: 0.5px solid rgba(30, 9, 9, 0.148);
  background-color: rgba(0, 128, 0, 0.688);
  cursor: pointer;
  color: white;
}

.btn2{
  background-color: rgba(0, 0, 0, 0.659);
}

.btn:hover{

}

.center{
  margin-top: 10px;
}